<div id="mapbx" class="leafmap"></div>

<script>
{% if page.mapbox %}
mapboxgl.accessToken = '{{ site.author.mapbox_token }}';
var mapbx = new mapboxgl.Map({
  container: 'mapbx',
  {% if include.mb_tile %}
  style: '{{ include.mb_tile }}',
  {% else %}
  style: 'mapbox://styles/mapbox/outdoors-v9',
  {% endif %}
  center: [{{ page.mlng }}, {{ page.mlat }}],
  zoom: {{ page.zoom }},
  scrollZoom: false,
  attributionControl: false
  });

var nav = new mapboxgl.Navigation({position: 'bottom-right'});
mapbx.addControl(nav);
{% endif %}

{% if page.mapillary and page.mly_pkey %}
var mapyim = 'https://a.mapillary.com/v2/im/{{ page.mly_pkey }}?client_id={{ site.author.mapillary_id }}';
$.get(mapyim, function (resp) {
  mapbx.setCenter([resp.lon, resp.lat]);
  // var marker = new mapboxgl.Marker(container, {
  //   icon: mapboxgl.marker.icon({
  //   "icon": "marker-15",
  //   'marker-color': '#f86767'
  //   })
  // })
  //   .setLngLat([{{ resp.lon }}, {{ resp.lat }}])
  //   .addTo(mapbx);
});
{% endif %}
</script>
