---
layout: default
---

<!-- Loading leaflet... -->
  <script type="text/javascript" src="{{ "js/leaflet.js" | prepend: site.baseurl }}"></script>
  <link rel="stylesheet" href="{{ "css/leaflet.css" | prepend: site.baseurl }}">
  <script>
    L.Icon.Default.imagePath = '{{ "images/carto/" | prepend: site.baseurl }}';
  </script>


<article class="post-container post-container--single">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{ page.date | date: "%-d %b %Y" }}" class="post-meta__date date">{{ page.date | date: "%-d %b %Y" }}</time> &#8226; <span class="post-meta__tags">on {% for tag in page.tags %}<a href="{{ site.baseurl }}tags/#{{ tag }}">{{ tag }}</a> {% endfor %}</span>
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
      {{ content }}
			<script>
					var map = L.map('map').setView([{{ page.lat }}, {{ page.lng }}], {{ page.zoom }});

					L.tileLayer('{{page.LtileLayer}}', {
						attribution: '&copy; <a href="https://osmlab.github.io/attribution-mark/copyright/?name={{ site.title }}">OpenStreetMap</a> contributors'
					}).addTo(map);

					var xmarker = L.icon({
						iconUrl: '{{ "images/carto/marker.svg" | prepend: site.baseurl }}',
						iconRetinaUrl: '{{ "images/carto/marker.svg" | prepend: site.baseurl }}',
						iconSize: [37, 50],
						iconAnchor: [18.5, 50],
						popupAnchor: [0, -51]
					});

					{% if page.mlat %}
					var marker = L.marker(
						[{{ page.mlat }}, {{ page.mlng }}]
					).addTo(map);
					{% endif %}

					{% if page.icon %}
					var marker = L.marker([{{ page.mlat }}, {{ page.mlng }}], {
						icon: {{ page.icon }}
					}).addTo(map);
					{% endif %}

					{% if page.mpop %}
					marker.bindPopup("{{ page.mpop }}").openPopup();
					{% endif %}

					map.scrollWheelZoom.disable();
			</script>
  </section>
  {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
</article>
{% if page.comments != false %}{% include disqus.html %}{% endif %}
